<template name="header">
		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#"><strong>Ranvir's Todo</strong></a>
			    </div>
			    <ul class="nav navbar-nav" id="nav-list">
				    <li class="active"><a href="#">Home</a></li>
				    <li><a href="your_list">yourList</a></li>
				    <li><a href="/createtask">Create List</a></li>
			        <li><a href="#">Share List</a></li> 
			    </ul>
			    <button type="button" class="signup" id="signUp"><strong>Sign up</strong></button>
			    <button type="button" class="login" id="LogIn"><strong>Log In</strong></button>
		    </div>
		</nav>
</template>
