<template name="register">
	<div class="col-md-6 col-md-offset-3">
		<form class="form-register" id="new-member">
				<div>
					<p>Name</p>
					<input type="text" name="user-name" class="form-control" placeholder="Enter your Name">
				</div>
				<div>
					<p>E-mail</p>
					<input type="email" name="e-mail" class="form-control" placeholder="Enter your Email">
				</div>
				<div>
					<p>Password</p>
					<input type="password" name="password" class="form-control" placeholder="Enter your Password">
				</div>
				<button type="button" class="register">Register</button>
		</form>
	</div>
</template>